{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 中文分词 {% endblock %}

{% block content %}
<div class='container'>
	{% for message in get_flashed_messages() %}
	<div class='alert alert-warning'>
		<button type='button' class='close' data-dismiss='alert'> &times; </button>
		{{ message }}
	</div>
	{% endfor %}
	{% block page_content %}
	<div class='page-header'>
		<h1>欢迎使用DMEI组中文分词API</h1>
	</div>
	{{wtf.quick_form(form)}}
	{% endblock %}
	
	{% if input_text %}
	<h3> 输入的文本为： </h3>
	<div>
		<p>{{input_text}}</p>
	</div>
	<h3> 中文分词的结果为： </h3>
	<div>
		<p> {{output_text}} </p>
	</div>
	{% endif %}
</div>
{% endblock %}



