<!DOCTYPE HTML>

<html>
	<head>
		<title>系统介绍</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="static/css/ie/html5shiv.js"></script><![endif]-->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/jquery.dropotron.min.js"></script>
		<script src="static/js/jquery.scrollgress.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/skel-layers.min.js"></script>
		<script src="static/js/init.js"></script>
		<script src="static/knowledgeGraph_subset.js"></script>
		<script src="static/d3.js"></script>
		<noscript>
			<link rel="stylesheet" href="static/css/skel.css" />
			<link rel="stylesheet" href="static/css/style.css" />
			<link rel="stylesheet" href="static/css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1>by NGN Lab</h1>
				<nav id="nav">
					<ul>
						<li><a href="/index">主页</a></li>
						<li>
							<a href="" class="icon fa-angle-down">导航</a>
							<ul>
								<li><a href="/introduction">系统介绍</a></li>
								<li>
									<a href="/analysis">评论解析</a>
									<ul>
										<li><a href="/analysis#single">单条解析</a></li>
										<li><a href="/analysis#batch">批量解析</a></li>
									</ul>
								</li>
								<li>
									<a href="/knowledge_base">知识库展示</a>
									<ul>
										<li><a href="/knowledge_base#ent_kb">实体-属性</a></li>
										<li><a href="/knowledge_base#attr_kb">属性-情感</a></li>
									</ul>
								</li>
								<li><a href="/contact">联系我们</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="container">
				<header>
					<h2>系统介绍</h2>
					<p>关于本评论解析系统所使用的方法和原理的简要介绍</p>
				</header>
				<div class="box">
					<span class="image featured"><img src="static/images/pic01.jpg" alt="" /></span>
					<h3>简介</h3>
					<li>这是一个利用<em>知识图谱</em>作为辅助的汽车评论文本自动解析系统，旨在对非格式化的自由评论文本进行<em>细粒度</em>情感分析，并通过对批量文本的解析得到某款汽车的产品画像。</li>
                    <li>单条评论的解析中，将体现评论者对提及的实体属性的情感倾向（正向、中性、负向）。</li>
                    <li>批量评的论解析中，将展示所有评论者对产品的各个实体属性的情感倾向分布</li>
                    <hr/>
					<div class="row">
						<div class="6u">
							<h3>实体-属性知识库</h3>
                            <li>实体-属性知识库包括层次结构的<strong>实体-实体关系</strong>，以及网状的<strong>实体-属性关系</strong>，以保障评论解析系统正确抽取评价对象。</li>
                            <li>产品由若干实体组成，而各个实体由更小的实体组成，这样的层次结构即是实体-实体关系。</li>
                            <li>每个实体具有若干属性，这些属性一般是人们的评价对象，这样的实体和属性之间一对多的关系即是实体-属性关系。</li>
						</div>
						<div class="6u">
							<h3>属性-情感知识库</h3>
							<li>属性-情感知识库给出了对于实体的各个属性常见的描述词及其情感倾向，使得评论解析系统能够判定评论者的情感倾向。</li>
                            <hr/>
							<div class="12u">
                                <h3>本体知识库</h3>
                                <li>本体知识库给出了评论文本中实体或是属性常见的同义词，以避免对同一实体或属性的描述被区别对待，保障产品画像的准确性。</li>
                            </div>
						</div>
					</div>
					<div id="Knowledge_Graph_Demo">
						<script type="text/javascript">knowledgeGraph_subset();</script>
					</div>
				</div>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Tsinghua University. All rights reserved.</li> <a href="./contact">    Contact Us</a>
				</ul>
			</footer>

	</body>
</html>