{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} Flasky {% endblock %}

{% block content %}
<div class='container'>
	{% for message in get_flashed_messages() %}
	<div class='alert alert-warning'>
		<button type='button' class='close' data-dismiss='alert'> &times; </button>
		{{ message }}
	</div>
	{% endfor %}
	{% block page_content %}
	<div class='page-header'>
		<h1> 欢迎使用 KBQA 接口 </h1>
	</div>
	{{wtf.quick_form(form)}}
	{% endblock %}
	{% if kbqa_answer %}
	<h2> KBQA结果为： </h2>
	<div>
		<p> Question: {{kbqa_answer['Question']}} </p>
		<p> Mention: {{kbqa_answer['Mention']}} </p>
		<p> Entity: {{kbqa_answer['Entity']}} </p>
		<p> IsFactoidQuestion: {{kbqa_answer['IsFactoidQuestion']}} </p>
		<p> QUScore: {{kbqa_answer['QUScore']}} </p>
		<p> Predicate: {{kbqa_answer['Predicate']}} </p>
		<p> PGScore: {{kbqa_answer['PGScore']}} </p>
		<p> Answer: {{kbqa_answer['Answer']}} </p>
	</div>
	{% endif %}
</div>
{% endblock %}



