<!DOCTYPE HTML>
{% import 'bootstrap/wtf.html' as wtf %}
<html>
	<head>
		<title>评论解析</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ url_for('static',filename='css/ie/html5shiv.js') }}"></script><![endif]-->
		<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/jquery.scrollgress.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/init.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='d3.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='single_result.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='json2.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='getProfile.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='productProfileInit.js') }}"></script>
		<noscript>
			<link rel="stylesheet" href="{{ url_for('static',filename='css/skel.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static',filename='css/style-wide.css') }}" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static',filename='static/css/ie/v8.css') }}" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
			  <h1>by NGN Lab</h1>
			  <nav id="nav">
					<ul>
						<li><a href="/index">主页</a></li>
						<li>
							<a href="" class="icon fa-angle-down">导航</a>
							<ul>
								<li><a href="/introduction">系统介绍</a></li>
								<li>
									<a href="/analysis">评论解析</a>
									<ul>
										<li><a href="/analysis#single">单条解析</a></li>
										<li><a href="/analysis#batch">批量解析</a></li>
									</ul>
								</li>
								<li>
									<a href="/knowledge_base">知识库展示</a>
									<ul>
										<li><a href="/knowledge_base#ent_kb">实体-属性</a></li>
										<li><a href="/knowledge_base#attr_kb">属性-情感</a></li>
									</ul>
								</li>
								<li><a href="/contact">联系我们</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="container">
				<header>
					<h2>文本评论解析</h2>
					<p>汽车评论文本细粒度情感分析</p>
				</header>
                <form method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="12u">
                        <section class="box">
                        
                		<div id='single'>
                        <h3>单条评论解析</h3>
                        {{ wtf.form_field(form.text) }}
                        {{ wtf.form_field(form.submit_text) }}
                        {% if single_results %}
							<div id="single_box">
								{% if single_pairs %}
								<table border="1" style="table-layout:fixed;">
									<tr>
										<td> 实体 </td>
										<td> 属性 </td>
										<td> 评价极性 </td>
										<td> 评价词 </td>
										<td> 相关语句 </td>
									</tr>
									{% for entity, attribute, describe, polar, text in single_pairs %}
										{% if polar is none %}
											<tr>
												<td> {{ entity }} </td>
												<td> {{ attribute }} </td>
												<td><span style="color: blue;"> 不确定 </span></td>
												<td><span style="color: blue;"> {{ describe }} </span></td>
												<td><span style="color: blue;"> {{ text }} </span></td>
											</tr>
										{% elif polar > 0 %}
											<tr>
												<td> {{ entity }} </td>
												<td> {{ attribute }} </td>
												<td><span style="color: green;"> 正面 </span></td>
												<td><span style="color: green;"> {{ describe }} </span></td>
												<td><span style="color: green;"> {{ text }} </span></td>
											</tr>
										{% elif polar < 0 %}
											<tr>
												<td> {{ entity }} </td>
												<td> {{ attribute }} </td>
												<td><span style="color: red;"> 负面 </span></td>
												<td><span style="color: red;"> {{ describe }} </span></td>
												<td><span style="color: red;"> {{ text }} </span></td>
											</tr>
										{% else %}
											<tr>
												<td> {{ entity }} </td>
												<td> {{ attribute }} </td>
												<td><span style="color:orange;"> 中性 </span></td>
												<td><span style="color: orange;"> {{ describe }} </span></td>
												<td><span style="color: orange;"> {{ text }} </span></td>
											</tr>
										{% endif %}
									{% endfor %}
								</table>
								{% endif %}
							</div>
                            <script type="text/javascript">  
                                var link_single=new Array();
                                var i=0;
                                {% for src,targ,describe,polar,level,sentence in single_results %}
                                {
                                    {% if (polar==-2) %}{
                                    link_single[i]={source:"{{src}}",target:"{{targ}}",level:{{level}},type:"ent_ent"};
                                    }
                                    {% else %}{
                                    link_single[i]={source:"{{src}}",target:"{{targ}}",level:{{level}},type:"ent_attr"};
                                    i=i+1;
                                    link_single[i]={source:"{{targ}}",target:"{{describe}}",level:{{level+1}},src_entity:"{{src}}",type:"attr_opinion",polar:{{polar}}};
                                    }
                                    {% endif %}
                                    i=i+1;
                                }
                                {% endfor %}
                                single_result(link_single);
                            </script>
                        {% endif %}
                        </div>
                        <div id='batch'>
                        <header>
						<h3><br>批量评论解析</h3>
						<p>上传评论文本文件，每行一条评论</p>
						</header>             
                                   
                        {{ wtf.form_field(form.file) }}
                        {{ wtf.form_field(form.submit_file) }} 
                                        
                        {% for error in form.file.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                        {% if upload_error %}
                            <span style="color: red;">请提交txt格式的文件！</span>
                        {% endif %}
                        <progress max="100" value="0" id="pg"></progress>
                        <script type="text/javascript" src="/static/progress_qeury.js"></script>
                
                		<div id="result_script">
							<!--{% if download_filepath %}-->
							<!--<script type="text/javascript" src="static/json2.js"></script>-->
							<!--<script type="text/javascript" src="static/result_json/{{ upload_file_name }}.js" charset="utf-8"></script>-->
							<!--<script type="text/javascript" src="static/result_json/{{ upload_file_name }}_{{ ent }}.js" charset="utf-8"></script>-->
							<!--{% endif %}-->
						</div>
                        &nbsp;
                        {% if download_filepath %}
							<!--<script type="text/javascript" src="/static/getProfile.js"></script>-->
                            <a href="{{ url_for('static', filename=download_filepath) }}">下载分析结果</a>
							<a href="#menu_all" onclick='getProfile("menu_all","全部","{{ upload_file_name }}")'>分析结果视图</a>
							<!--<script type="text/javascript" src="/static/productProfileInit.js"></script>-->
                        {% endif %}
                        &nbsp;
                		<div class="row">
							<div id="menu_all" class="6u">
							<style>
							<!--

							#menu_all {
							 }
							 #menu_all ul {
							 background:url("static/images/ul-bg.gif") repeat-y 5px 0px; overflow:hidden;
							 }
							 #menu_all ul li {
							 padding:5px 0 2px 15px;
							 background:url("static/images/tree-ul-li.gif") no-repeat 5px -32px;
							 }
							 #menu_all ul li ul {display:none;}
							 #menu_all ul li em {
							 cursor:pointer;
							 display:inline-block;
							 width:15px;
							 float:left;
							 height:15px;
							 margin-left:-14px;
							 background:url("static/images/tree-ul-li.gif") no-repeat -32px 2px;
							 }
							 #menu_all ul li em.off {
							 background-position: -17px -18px;
							 }
							 #menu_all ul li#end {
							 background-color:#FFF;
							 }
							 #menu_all ul.off {
							 display:block;
							 }
							-->
							</style>
								<h3 id="menu_all_title"></h3>
								<ul id="menu_all_0"></ul>
							</div>

							<div id="menu_detail" class="6u">
							<style>
							<!--

							#menu_detail {
							 }
							 #menu_detail ul {
							 background:url("static/images/ul-bg.gif") repeat-y 5px 0px; overflow:hidden;
							 }
							 #menu_detail ul li {
							 padding:5px 0 2px 15px;
							 background:url("static/images/tree-ul-li.gif") no-repeat 5px -32px;
							 }
							 #menu_detail ul li ul {display:none;}
							 #menu_detail ul li em {
							 cursor:pointer;
							 display:inline-block;
							 width:15px;
							 float:left;
							 height:15px;
							 margin-left:-14px;
							 background:url("static/images/tree-ul-li.gif") no-repeat -32px 2px;
							 }
							 #menu_detail ul li em.off {
							 background-position: -17px -18px;
							 }
							 #menu_detail ul li#end {
							 background-color:#FFF;
							 }
							 #menu_detail ul.off {
							 display:block;
							 }
							-->
							</style>
								<h3 id="menu_detail_title"></h3>
								<ul id="menu_detail_0"></ul>
							</div>



							<!--{% if upload_file_name %}-->
							<!--<script type="text/javascript" src="static/json2.js"></script>-->
							<!--<script type="text/javascript" src="static/result_json/{{ upload_file_name }}.js" charset="utf-8"></script>-->
							<!--<script type="text/javascript" src="static/result_json/{{ upload_file_name }}_{{ ent }}.js" charset="utf-8"></script>-->
							<!--<script type="text/javascript" src="static/menu_init.js" charset="utf-8"></script>-->
							<!--<script type="text/javascript">-->
								<!--menu_init('{{ ent }}');-->
							<!--</script>-->
							<!--{% endif %}-->
						</div>

                        <!--<div id='menu'>-->

                        <!--{% if ent %}-->
						<!--<hr/>-->
                        <!--<h3>产品画像——{{ ent }}</h3>-->
                        <!--{% endif %}-->
                        <!--<ul id="0">-->
                        <!--</ul>-->
                        <!--{% if upload_file_name %}-->
                        <!--<script type="text/javascript" src="static/json2.js"></script>-->
                        <!--<script type="text/javascript" src="static/result_json/{{ upload_file_name }}.js" charset="utf-8"></script>-->
                        <!--<script type="text/javascript" src="static/result_json/{{ upload_file_name }}_{{ ent }}.js" charset="utf-8"></script>-->
                        <!--<script type="text/javascript" src="static/menu_init.js" charset="utf-8"></script>-->
                        <!--<script type="text/javascript">-->
                            <!--menu_init('{{ ent }}');-->
                        <!--</script>-->
                        <!--{% endif %}-->
                        <!--</div>-->


                        </div>
                        </section>
                        </div>
                    </div>
                </form>

			</section>
			<script type="text/javascript">
						ids=new Array();
						ids[0]='menu_all';
						ids[1]='menu_detail';
						var x
						for(x in ids) {
                            (function (e) {
                                for (var _obj = document.getElementById(e.id).getElementsByTagName(e.tag), i = -1,
                                         em; em = _obj[++i];) {
                                    em.onclick = function () { //onmouseover
                                        var ul = this.nextSibling;
                                        if (!ul) {
                                            return false;
                                        }
                                        ul = ul.nextSibling;
                                        if (!ul) {
                                            return false;
                                        }
                                        if (e.tag != 'a') {
                                            ul = ul.nextSibling;
                                            if (!ul) {
                                                return false;
                                            }
                                        } //a 标签控制 隐藏或删除该行
                                        for (var _li = this.parentNode.parentNode.childNodes, n = -1,
                                                 li; li = _li[++n];) {
                                            if (li.tagName == "LI") {
                                                for (var _ul = li.childNodes, t = -1, $ul; $ul = _ul[++t];) {
                                                    switch ($ul.tagName) {
                                                        case "UL":
                                                            $ul.className = $ul != ul ? "" : ul.className ? "" : "off";
                                                            break;
                                                        case "EM":
                                                            $ul.className = $ul != this ? "" : this.className ? "" : "off";
                                                            break;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            })({id: ids[x], tag: 'em'});
                        }
                        </script>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Tsinghua University. All rights reserved.</li> <a href="./contact">    Contact Us</a>
				</ul>
			</footer>

	</body>
</html>