{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} AIMindreader{% endblock %}

{% block content %}
<div class='container'>
	{% for message in get_flashed_messages() %}
	<div class='alert alert-warning'>
		<button type='button' class='close' data-dismiss='alert'> &times; </button>
		{{ message }}
	</div>
	{% endfor %}

	{% block page_content %}
	<div class='page-header'>
		<h1>AIMindreader Demo API</h1>
	</div>

    <form method="POST" enctype="multipart/form-data">
	<div class='single'>
        {{ wtf.form_field(form.text) }}
        {{ wtf.form_field(form.submit_text) }}

        {% if input_text %}
        <h4> 输入的文本为： </h4>
        <div>
            <p>{{ input_text }}</p>
        </div>
        <h4> 分析的结果为： </h4>
        <div>
            {% if result_list %}
            {% for pair in result_list %}
            <p> {{ pair }} </p>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    </div>

    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

    <hr />
    <div class='batch'>
        {{ wtf.form_field(form.file) }}
        <p> （提示：txt格式，每行一条评论） </p>
        {{ wtf.form_field(form.submit_file) }}

        {% for error in form.file.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        {% if upload_error %}
            <span style="color: red;">请提交txt格式的文件！</span>
        {% endif %}

        &nbsp;
        &nbsp;

        {% if download_filepath %}
            <a href="{{ url_for('static', filename=download_filepath) }}">下载分析结果</a>
        {% endif %}

        {% if table %}
        <table border="1" style="table-layout:fixed;">
            <tr>
                <td> 一级类别 </td>
                <td> 二级类别 </td>
                <td> 评价极性 </td>
                <td> 评价数目 </td>
                <td> 评价占比 </td>
            </tr>
            {% for lv1, lv1_val in table.items() %}
                {% for lv2, lv2_val in lv1_val.items() %}
                    {% if lv2_val[0] > 0 %}
                        <tr>
                            <td> {{ lv1 }} </td>
                            <td> {{ lv2 }} </td>
                            <td><span style="color: green;"> 正面 </span></td>
                            <td><span style="color: green;"> {{ lv2_val[0] }} </span></td>
                            <td><span style="color: green;"> {{ lv2_val[3] }} </span></td>
                        </tr>
                            {% endif %}
                            {% if lv2_val[1] > 0 %}
                        <tr>
                            <td> {{ lv1 }} </td>
                            <td> {{ lv2 }} </td>
                            <td><span style="color: red;"> 负面 </span></td>
                            <td><span style="color: red;"> {{ lv2_val[1] }} </span></td>
                            <td><span style="color: red;"> {{ lv2_val[4] }} </span></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>>
        {% endif %}

    </div>
    </form>

    {% endblock %}
</div>
{% endblock %}



