{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} AIMindreader{% endblock %}

{% block content %}
<div class='container' id="c1">
	{% for message in get_flashed_messages() %}
	<div class='alert alert-warning'>
		<button type='button' class='close' data-dismiss='alert'> &times; </button>
		{{ message }}
	</div>
	{% endfor %}

	{% block page_content %}
	<div class='page-header'>
		<h1>汽车产品 二元情感关系系统</h1>
	</div>

    <form method="POST" enctype="multipart/form-data">
	<div class='single'>
        {{ wtf.form_field(form.text) }}
        {{ wtf.form_field(form.submit_text) }}
        
        {% if single_results %}
        <script type="text/javascript" src="/static/d3.js"></script>
        <script type="text/javascript" src="/static/single_result.js"></script>  
			<script type="text/javascript">  
            var link_single=new Array();
            var i=0;
            {% for src,targ,describe,polar,level in single_results %}
			{
				{% if (polar==-2) %}{
				link_single[i]={source:"{{src}}",target:"{{targ}}",level:{{level}},type:"ent_ent"};
				}
				{% else %}{
				link_single[i]={source:"{{src}}",target:"{{targ}}",level:{{level}},type:"ent_attr"};
				i=i+1;
				link_single[i]={source:"{{targ}}",target:"{{describe}}",level:{{level+1}},src_entity:"{{src}}",type:"attr_opinion",polar:{{polar}}};
				}
				{% endif %}
                i=i+1;
			}
            {% endfor %}
			single_result(link_single);
            </script>
        {% endif %}
        {#
        <h4> 输入的文本为： </h4>
        <div>
            <p>{{ input_text }}</p>
        </div>
        <h4> 分析的结果为： </h4>
        <div>
            {% if result_list %}
            {% for pair in result_list %}
            <p> {{ pair }} </p>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        #}
    </div>
&nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

    <hr />
    <div class='batch'>
        {{ wtf.form_field(form.file) }}
        <p> （提示：txt格式，每行一条评论） </p>
        {{ wtf.form_field(form.submit_file) }}

        {% for error in form.file.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        {% if upload_error %}
            <span style="color: red;">请提交txt格式的文件！</span>
        {% endif %}

        &nbsp;
        &nbsp;

        {% if download_filepath %}
            <a href="{{ url_for('static', filename=download_filepath) }}">下载分析结果</a>
        {% endif %}

        {% if table %}
        <table border="1" style="table-layout:fixed;">
            <tr>
                <td> 一级类别 </td>
                <td> 二级类别 </td>
                <td> 评价极性 </td>
                <td> 评价数目 </td>
                <td> 评价占比 </td>
            </tr>
            {% for lv1, lv1_val in table.items() %}
                {% for lv2, lv2_val in lv1_val.items() %}
                    {% if lv2_val[0] > 0 %}
                        <tr>
                            <td> {{ lv1 }} </td>
                            <td> {{ lv2 }} </td>
                            <td><span style="color: green;"> 正面 </span></td>
                            <td><span style="color: green;"> {{ lv2_val[0] }} </span></td>
                            <td><span style="color: green;"> {{ lv2_val[3] }} </span></td>
                        </tr>
                            {% endif %}
                            {% if lv2_val[1] > 0 %}
                        <tr>
                            <td> {{ lv1 }} </td>
                            <td> {{ lv2 }} </td>
                            <td><span style="color: red;"> 负面 </span></td>
                            <td><span style="color: red;"> {{ lv2_val[1] }} </span></td>
                            <td><span style="color: red;"> {{ lv2_val[4] }} </span></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>>
        {% endif %}
    </div>
    
    <div class="multi-analysis">
        {% if entity_profile%}
        <script type="text/javascript" src="/static/d3.js"></script>
        <script type="text/javascript" src="/static/product_profile.js"></script>
        <script type="text/javascript">
            var links_entity = new Array();
            var links_entity_attr = new Array();
            var nodes_entity = {};
            var i=0;
            {% for src,targ,level in entity_pair %}
                links_entity[i]={source:"{{src}}",target:"{{targ}}",level:{{level}}};
                nodes_entity["{{src}}"]||(nodes_entity["{{src}}"]={name:"{{src}}",level:{{level}}});
                nodes_entity["{{targ}}"]||(nodes_entity["{{targ}}"]={name:"{{targ}}",level:{{level}}+1});
                i=i+1;
            {% endfor %}
            {% for name,p,n,o in entity_profile %}
                nodes_entity["{{name}}"]={name:"{{name}}",level:nodes_entity["{{name}}"].level,positive:{{p}},negative:{{n}},ordinary:{{o}}};
            {% endfor %}
            links_entity.forEach(function(link) {
                link.source=nodes_entity[link.source];
                link.target=nodes_entity[link.target];
            });
            i=0;
            {% for src,targ, p,n,o in multi_analysis %}
                links_entity_attr[i]={source:"{{src}}",target:"{{targ}}",level:nodes_entity["{{src}}"].level,positive:{{p}},negative:{{n}},ordinary:{{o}}};
            {% endfor %}
            product_profile(links_entity,links_entity_attr,nodes_entity,);
        </script>
        {% endif%}
    </div>
    
    <div id="aspect_graph" >
    
        {{ wtf.form_field(form.aspect) }}
        {{ wtf.form_field(form.submit_aspect) }}
    	{% if show_aspect_graph %}
    <script type="text/javascript" src="/static/d3.js"></script>  
    <script type="text/javascript" src="/static/force_aspect.js"></script>  
    <script type="text/javascript" src="/static/aspect_detail.js"></script> 
    <script type="text/javascript" src="/static/entity_detail.js"></script> 
    <script type="text/javascript" src="/static/force_opinion.js"></script> 
    <script type="text/javascript" src="/static/aspect_opinion_polarity.js"></script> 
    <style type="text/css"> </style>  
        <div id="show_area">
        <script type="text/javascript">  
        //(1)链接数组
	var links_entity = new Array();
	var i=0;
	{% for src,targ,level in entity_pair %}
	       links_entity[i]={source:"{{src}}",target:"{{targ}}",level:{{level}},weight:3,color:76};
	       i=i+1;
	{% endfor %}
	var links_entity_attr = new Array();
	i=0;
	{% for src,targ,level in entity_attr %}
	       links_entity_attr[i]={source:"{{src}}",target:"{{targ}}",level:{{level}},weight:3,color:76};
	       i=i+1;
	{% endfor %}
	var links_entity_synonym = new Array();
	i=0;
	{% for src,targ,level in entity_synonym %}
	       links_entity_synonym[i]={source:"{{src}}",target:"{{targ}}",level:{{level}},weight:3,color:76};
	       i=i+1;
	{% endfor %}
	var links_attr_synonym = new Array();
	i=0;
	{% for src,targ,level in attr_synonym %}
	       links_attr_synonym[i]={source:"{{src}}",target:"{{targ}}",level:{{level}},weight:3,color:76};
	       i=i+1;
	{% endfor %}
	var links_opinion = new Array();
	i=0;
	{% for aspect,opinion,polar in opinion_pair %}
	links_opinion[i]={source:"{{aspect}}",target:"{{opinion}}",polar:{{polar}},weight:3,color:76};
	i=i+1;
	{% endfor %}
	force_aspect(links_opinion,links_entity,links_entity_attr,links_entity_synonym,links_attr_synonym);
        </script> 
        </div>
        {% endif %}
    </div>
    
<!--    <div class="opinion_graph" >
		{% if opinion_pair %}
    <script type="text/javascript" src="/static/d3.js"></script>  
    <script type="text/javascript" src="/static/force_opinion.js"></script>  
    <script type="text/javascript" src="/static/opinion_pair_detail.js"></script>   
    <style type="text/css">  
    </style>  
        <script type="text/javascript">  
        //(1)链接数组
	var links_opinion = new Array();
	var j=0;
	{% for aspect,opinion,polar in opinion_pair %}
	links_opinion[j]={source:"{{aspect}}",target:"{{opinion}}",polar:{{polar}},weight:3,color:76};
	j=j+1;
	{% endfor %}
    force_opinion(links_opinion);
        </script>  
        {% endif %}
    </div>
    -->
    
    </form>
    {% endblock %}
</div>
{% endblock %}



